<ul class="list-group">
    <!-- <new component here> pass in the name of the item  -->
    <app-todo-input (addTodoEvent)="addTodo($event)"></app-todo-input>
    <app-todo-list-item *ngFor="let todo of todoItems" [todoItem]='todo' (deleteTodoEvent)="deleteTodo($event)">
    </app-todo-list-item>
</ul>