<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
      <a class="navlink" routerLink="/">Todo component</a>
    </li>
    <li class="nav-item">
      <a class="navlink" routerLink="/simple-interest">Simple Interest calculator</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>